<div class="row">
  <div class="col-md-12">
    <h3>Thank you for your payment</h3>
    <p>Your payment of <%= amount.format %> was posted successfully. Your authorization code is <%= auth_code %>.</p>
  </div>
</div>
